.messages1 {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 475px;
  overflow: scroll;
}
.messages1 .message1 {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages1 .message1.left .avatar {
 
  float: left;
}
.messages1 .message1.left .text_wrapper {
  background-color: #e67e22;
  margin-left: 20px;
}
.messages1 .message1.left .text_wrapper::after, .messages1 .message1.left .text_wrapper::before {
  right: 100%;
  border-right-color: #e67e22;
}
.messages1 .message1.left .text1 {
  color: #c48843;
}

li.message1.right.appeared .avatar {
  display: none;
}
.messages1 .message.right .avatar {
  display: none;
  float: right;
}
.messages1 .message1.right .text_wrapper {
  background-color: #3498db;
  margin-right: 20px;
  float: right;
}
.messages1 .message1.right .text_wrapper::after, .messages1 .message1.right .text_wrapper::before {
  left: 100%;
  border-left-color: #3498db;
}
.messages1 .message1.right .text1 {
  color: #45829b;
}
.messages1 .message1.appeared {
  opacity: 1;
}
.messages1 .message1 .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages1 .message1 .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages1 .message1 .text_wrapper::after, .messages1 .message1 .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages1 .message1 .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages1 .message1 .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages1 .message1 .text_wrapper .text1 {
  color: #ecf0f1;
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input1 {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message1 {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #2ecc71;
  border: 2px solid #2ecc71;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message1:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message1 .text1 {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template, .message_template1 {
  display: none;
}
